<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HelloXcode7ObjC.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC1953F91BF7F0D2009822A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC1954121BF7F0D2009822A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC19541D1BF7F0D2009822A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
